/* Tablet Responsive */

@media screen and (min-width:768px) {

    /* Heading */
    /* Site Title */
    h1 {
        text-align: left;
    }


    .recipe-title::after {
        content: " (Dolce Tradizionale)";
    }

    /* Main */
    main {
        padding: var(--xs) var(--lg);
    }

    /* Recipe Details */
    .recipe-details {
        display: flex;
        flex-wrap: wrap;
        margin: var(--lg) 0;
        justify-content: flex-start;
        gap: 35px;
        align-items: center;
    }

    .recipe-details li {
        margin: 0;
    }

    /* Share links */
    /* Socials */
    #Social-Navbar a {
        padding: var(--xs) var(--lg);
    }

    /*  Recipe Ads */
    .md-d-block {
        display: block;
    }

    .md-pt-15 {
        padding-top: 15px;

    }

    /* Recipe Presentaion */
    .img-wrapper {
        margin: 5px var(--xs) 0px 0px;
        float: left;
    }

}



/* Desktop Rsponsive */

@media screen and (min-width:992px) {

    /*Giallo Booleano */
    h1 {
        font-size: 4.5rem;
    }

    /* Display flex */
    .lg-row,
    #Social-Navbar li,
    footer {
        display: flex;
    }

    /* Main */
    /* Recipe Title */
    .recipe-title {
        font-size: 3rem;
    }

    /* Recipe Video */
    .lg-col-70 {
        flex-basis: 70%;
    }

    .video-wrapper {
        padding-bottom: 40%;
    }

    /* Recipe Info */
    .lg-col-30 {
        flex-basis: 30%;
        padding: 0;
    }

    /* Recipe */
    .recipe-details {
        gap: var(--xs);
        flex-direction: row;
        margin: 0;
        padding: 25px;

    }

    /* Share links */
    /* Socials  */
    #Social-Navbar ul {
        gap: var(--md);
        flex-wrap: wrap;
    }

    #Social-Navbar a {
        padding: var(--xs) var(--md);
    }

    .lg-d-inline {
        display: inline;
    }

    /* Footer */
    footer {
        justify-content: space-between;
        text-align: left;
    }




}